/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ theme-dark — класс тёмной темы
✦ theme-light — класс светлой темы
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

Кроме этого, не меняйте HTML переключателя тем. Его разметка также гарантирует работу своего скрипта.

*/

/* @media (min-width: 1440px) {
  img {
    width: 696px;
    height: 696px;
  }
} */

.page {
  min-inline-size: 320px;
  min-block-size: 100dvb;
  color: var(--main-color);
  background-image: var(--gradient-main);
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: var(--background-color);
  font-family: var(--main-font), Arial, sans-serif;
}

.header {
  background-color: var(--background-color);
  border: 2px solid var(--main-color);
  max-width: 696px;
  margin: 102px auto 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.header-logo {
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-block-start: clamp(7.5rem, 7.148rem + 1.502vw, 8.5rem);
  margin-block-end: 20px;
}

.logo-text {
  font-family: var(--accent-font), fantasy;
  font-size: var(--h1-title-size);
  font-weight: var(--header-weight);
  text-align: center;
  display: block;
}

.header-subtitle {
  text-transform: uppercase;
  font-family: var(--accent-font), fantasy;
  font-size: var(--subtitle-size);
  font-weight: var(--header-weight);
  text-align: center;
}

.theme-menu {
  padding: 25px 0px;
  /* margin-inline-start: clamp(9.625rem, 6.082rem + 15.117vw, 19.688rem);
  margin-inline-end: clamp(8.313rem, 4.703rem + 15.399vw, 18.563rem); */
  margin-inline-start: 17px;
  width: 84px;
  justify-self: center;
}

.theme-menu__list {
  display: flex;
  flex-direction: column;
  gap: 11px;
  text-align: start;
  width: 84px;
  line-height: 1;
}

.theme-menu__item {
  margin: 0;
  padding: 0;
  /* height: 14px; */
}

.theme-menu__button {
  background-color: transparent;
  border: none;
  font-family: var(--accent-font), fantasy;
  font-size: var(--button-size);
  text-transform: uppercase;
  font-weight: var(--header-weight);
  line-height: 1;
  position: relative;
  width: 84px;
  text-align: start;
  cursor: pointer;
  transition: opacity 0.3s ease;
}

.theme-menu__button::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -3px;
  display: block;
  background-color: currentColor;
  inline-size: 100%;
  block-size: 2px;
  scale: 0;
  transform-origin: left;
  transition: scale 0.3s ease;
}

.theme-menu__button:hover {
  opacity: 0.6;
}

.theme-menu__button:focus {
  opacity: 0.6;
  outline: none;
}

.theme-menu__button:focus-visible {
  opacity: 0.6;
  outline: none;
}

.theme-menu__button:focus-visible::after {
  scale: 1;
  outline: none;
}

.theme-menu__button:disabled::before {
  content: '▶';
  position: absolute;
  right: 89px;
  animation: arrow ease-in-out 0.5s alternate infinite;
}

.main {
  display: flex;
  flex-direction: column;
  gap: 52px;
}

.card {
  border: 2px solid var(--main-color);
  background-color: var(--background-color);
  max-inline-size: 696px;
  margin: 0 auto;
}

.card-title {
  font-size: var(--main-size);
  padding-block: 5px;
  padding-inline: 10px;
  line-height: 22px;
  font-variation-settings: 'wght' var(--title-weight);
  border-block-end: 2px solid var(--main-color);
}

.card-label {
  position: absolute;
  z-index: 1;
  font-family: var(--accent-font), fantasy;
  color: var(--main-color);
  font-weight: var(--header-weight);
  font-size: 14px;
  top: 25px;
  right: calc(13px + 12 * ((100vw - 375px) / 1065));
  mix-blend-mode: hard-light;
  opacity: 0.5;
  text-shadow: var(--text-shadow);
}

@supports (
  (text-stroke: 1px var(--background-color)) or (-webkit-text-stroke: 1px var(--background-color))
) {
  .card-label {
    -webkit-text-stroke: 1px var(--background-color);
    text-stroke: 1px var(--background-color);
    text-shadow: none;
  }
}

.card-paragraph {
  display: flex;
  flex-direction: column;
  gap: 27px;
  margin: 25px;
}

.card-text {
  font-variation-settings: 'wght' var(--text-weight);
  font-size: var(--main-size);
  font-family: var(--main-font), Arial, sans-serif;
  line-height: 21px;
}

.buttons {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  gap: 7px;
  height: 38px;
  margin-inline-end: 25px;
  margin-block-end: 25px;
}

.card__icon-button {
  background-color: transparent;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
}

.sparks {
  opacity: 0;
}

.card__icon-button:focus {
  outline: none;
}

.card__icon-button:focus-visible {
  border: 2px solid var(--main-color);
}

.card__icon-button:hover {
  cursor: pointer;
}

.card__like-button {
  background-color: transparent;
  border: none;
  width: 130px;
  height: 38px;
  border: 2px solid var(--main-color);
  display: inline-block;
}

.button__text {
  font-family: var(--accent-font), fantasy;
  font-weight: var(--header-weight);
  font-size: var(--button-size);
  line-height: 12.6px;
  mix-blend-mode: difference;
  color: var(--button-color);
  align-content: center;
  text-align: center;
  position: relative;
  z-index: 2;
}

.like-button {
  outline: none;
  position: relative;
  font-family: var(--accent-font), fantasy;
  background-color: var(--background-color);
  border: 2px solid var(--main-color);
  text-align: center;
  justify-content: center;
}

.like-button:hover {
  cursor: pointer;
}

.like-button:focus-visible {
  box-shadow: 2px 2px 0px 0px var(--main-color);
}

.like-button::before {
  content: '';
  display: block;
  position: absolute;
  z-index: 0;
  width: 100%;
  height: 100%;
  background-color: var(--main-color);
  transform: scaleX(0);
  transform-origin: left;
  transition: 0.5s ease-in-out;
  inset: 0;
}

.like-button:hover::before {
  transform: scaleX(1);
}

.image-with-label {
  position: relative;
  margin: 0;
  border-bottom: 2px solid var(--main-color);
  inline-size: 100%;
  display: flex;
}

.image {
  inline-size: 100%;
  object-fit: cover;
  object-position: center;
  aspect-ratio: 1 / 1;
}

.invert {
  filter: invert(20%);
}

.sepia-brightness {
  filter: sepia(200%) brightness(60%);
}

.invert-contrast {
  filter: invert(20%) contrast(150%);
}

.contrast {
  filter: contrast(110%);
}

.blur {
  filter: blur(5px);
}

.hue {
  filter: hue-rotate(300deg);
}

.invert-contrast-brightness {
  filter: invert(20%) contrast(120%) brightness(70%);
}

.end-save {
  margin: 0 auto 105px auto;
  max-width: 100%;
  max-height: 100%;
}

.floppy-icon {
  width: 21px;
  height: 21px;
  mix-blend-mode: difference;
  color: var(--button-color);
}

.floppy-dialog-icon {
  min-width: 39px;
  color: var(--main-color);
}

.save-button {
  display: flex;
  gap: 8px;
  padding: 15px 20px;
  align-items: center;
}

.dialog {
  padding: 30px;
  max-width: 357px;
  inset: 0;
  background-color: var(--background-color);
  border: 2px solid var(--main-color);
}

.dialog-content {
  display: flex;
  gap: 20px;
  align-items: center;
  justify-content: space-between;
  margin-block-end: 30px;
}

.dialog-button {
  width: 100%;
  height: 100%;
  padding: 9px 17px;
  font-size: var(--button-size);
  border: 2px solid var(--main-color);
  text-transform: uppercase;
  line-height: 12.6px;
  color: var(--main-color);
}

.dialog-button-text {
  color: var(--button-color);
  mix-blend-mode: difference;
}

.dialog-text {
  font-family: var(--accent-font), fantasy;
  font-size: var(--button-size);
  color: var(--main-color);
  line-height: 21px;
  text-transform: uppercase;
}

.dialog::backdrop {
  background-color: rgb(0 0 0 / 0.75);
}

@media (max-width: 375px) {
  /* .image-with-label {
    width: 375px;
    height: 375px;
  } */
  .save-button {
    flex-direction: column;
  }

  .floppy-icon {
    width: 28px;
    height: 28px;
  }

  .dialog {
    max-width: 341px;
  }
}
